$background-bar: #282828;
$background: #282828;
$widget-background: #1D2021;
$shadow: #1D2021;
$grey: #928374;

$black:     #1D2021;
$red:     #CC241D; // #fb4934;
$green:   #98971a; // #b8bb26;
$yellow:  #d79921; // #fabd2f;
$orange:  #d65d0e; // #fe8019;
$blue:    #458588; // #83a598; //#458588;
$purple:  #b16286; // #d3869b;
$purple2: #b16286; // #d3869b;
$teal:    #689d6a; // #8ec07c;
$white:   #fbf1c7; // #ebdbb2;

$primary:   #98971a; // #F37F97;
$secondary: #d79921; // #F37F97;
$tertiary:  #fb4934;
